/*
Challenge:
1. Create a body selector.
2. Set the base font size and text color to
   the values given on the slide.
3. Bring in "Roboto" from Google Fonts and
   set it as the default font. Make sure
   browsers will fall back on a sans-serif
   font if Roboto is unavailable.
4. Override HTML's default margin.
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 body {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: 400, 500;
   color: #2b283a;
   margin: 0;
 }

 header {
   background-color: #5f29a3;
   padding: 15px 20px;
 }

 h1 {
   font-size: 36px;
   color: whitesmoke;
   margin: 0;
 }

 h3 {
   font-size: 20px;
   color: #d0aaff;
   margin: 0;
}

section {
  padding: 15px 20px;
}

.purple-sneakers {
  width: 100%;
}
